/* Media queries */



@media screen and (max-width: 426px) {
    .main form {
        margin-bottom: 25px;
    }

    .color-gris-seccion-inicial {
        margin: 0;
    }

    .first-image {
        width: 70%;
    }

    .second-image {
        width: 100%;
    }
    .main {
        margin-top: 130px;
    }

    .main h1 {
        font-size: 30px;
    }

    .publish {
        flex-direction: column;
        margin: 15px auto;
        width: 90%;
    }

    .features {
        height: fit-content;
        grid-template: repeat(4, 1fr) / 1fr;
    }
}